body {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f8f9fa;
  text-align: center;
}

.UI {
  display: grid;
  grid-template-columns: 250px minmax(500px, 1fr) 250px; /* Sidebar, Grid, Sidebar */
  gap: 20px;
  width: 100%;
  align-items: start;
}

.art-container {
  display: flex;
  justify-content: center;
  grid-column: 2;
  grid-row: 1;
}

.grid {
  padding-top: 20px;
  display: grid;
  grid-template-columns: repeat(50, 1fr);
  width: min(90vw, calc(100vw - 500px), 80vh);
}

.pixel {
  aspect-ratio: 1 / 1;
}

.pixel:hover {
  opacity: 0.5;
}

.InfoPanel {
  grid-column: 1;
  grid-row: 1; 
  display: flex;
  flex-direction: column;
  align-self: left;
  gap: 10px; 
}

.Colors {
  grid-column: 3; 
  align-self: start;
}

.color-grid {
  display: flex;
  flex-direction:column;
  align-items: center;
  margin-top: 10px;
}

.color-box {
  width: min(70px, 13vw);
  height: min(70px, 13vw);
  background-color: grey; 
  border: black 1px solid;
  margin: 10px;
}
.brush-icon {
  width: min(40px, 8vw);
  height: min(40px, 8vw);
}

.color-box:hover {
  opacity: 0.5;
}

/* Sections */
.InfoPanel, .Colors{
  margin-top: 20px;
  text-align: left;
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
}

@media (max-width: 1000px) {
  .UI {
      grid-template-columns: 1fr; 
  }

  .art-container, .Colors, .InfoPanel {
      grid-column: 1;
  }

  .Colors {
      grid-row: 2;
      order: 1;
  }

  .color-grid {
    display: flex;
    flex-direction:row;
    align-items: center;
    margin-top: 10px;
  }
  
  .InfoPanel {
      grid-row: 3;
      order: 2;
  }
  .grid {
      width: min(90vw, 80vh);
  }
}

