.header-links {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-links a {
  margin: 0 10px;
}

@media (max-width: 600px) {
  .header-links {
    flex-direction: column;
    align-items: flex-start;
  }

  .header-links a {
    margin: 5px 0;
  }
}


.body {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  text-align: center;
}

.UI {
  display: grid;
  grid-template-columns: 250px minmax(500px, 1fr) 250px; /* Sidebar, Grid, Sidebar */
  gap: 20px;
  width: 100%;
  align-items: start;
}

.art-container {
  display: flex;
  justify-content: center;
  grid-column: 2;
  grid-row: 1;
}

.grid {
  position: relative;
  padding-top: 20px;
  display: grid;
  grid-template-columns: repeat(50, 1fr);
  width: min(90vw, calc(100vw - 500px), 80vh);
}

.pixel {
  position: relative;
  aspect-ratio: 1 / 1;
  z-index: 2;
}

.grid.planning-mode .pixel.dimmed { /*while in planning mode */
  filter: brightness(50%) saturate(50%);
}

.pixel:hover {
  opacity: 0.5;
}

.InfoPanel {
  grid-column: 1;
  grid-row: 1; 
  display: flex;
  flex-direction: column;
  align-self: left;
  gap: 10px; 
}

.Colors {
  grid-column: 3; 
  align-self: start;
}

.color-grid {
  display: flex;
  flex-direction:column;
  align-items: center;
  margin-top: 10px;
}

.color-box {
  width: min(70px, 13vw);
  height: min(70px, 13vw);
  border: black 2px solid;
  margin: 10px;
}
.brush-icon {
  width: min(40px, 8vw);
  height: min(40px, 8vw);
}

.color-box:hover {
  opacity: 0.5;
}

/* Sections */
.InfoPanel, .Colors{
  margin-top: 20px;
  text-align: left;
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
}

.btn { /*planning button */
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  font-size: 16px;
  border-radius: 5px;
}

.Timer{
  text-align: center;
}

@media (max-width: 1000px) {
  .UI {
      grid-template-columns: 1fr; 
  }

  .art-container, .Colors, .InfoPanel {
      grid-column: 1;
  }

  .Colors {
      grid-row: 2;
      order: 1;
  }

  .color-grid {
    display: flex;
    flex-direction:row;
    align-items: center;
    margin-top: 10px;
  }
  
  .InfoPanel {
      grid-row: 3;
      order: 2;
  }

  .grid {
      width: min(90vw, 80vh);
  }
}

